/*LTex: enabled=false */

body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.border {
    border: dotted 2px blue;
}