.main {
    margin-top: 100px;
}

.logo-png {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.searcher {
    display: block;
    width: 562px;
    height: 42px;
    padding-top: 1px;
    padding-right: 87;
    padding-bottom: 1px;
    padding-left: 52px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    border: 5px gray;
}