body {
    background: whitesmoke;
    color: whitesmoke;
    font-family: 'Rammetto One', cursive;
}

.ad {
    background: #35654d;
    border: 5px solid #A3BC71;
    text-align: center;
}

.cta {
    border: 2px solid #A3BC71;
    padding: 1px 5px ;
    background: rgb(214, 106, 12);
}