 body {
    color: red;
    /* background-image: url(/C:/Users/maest/Documents/Kalendarz/images/spaceBG.jpg); */
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
    
}

#hero {
    background-image: url(/images/galaxy.webp);
    background-size: cover;
    padding: 30px;
}

#shadow {
    text-shadow: 5px 5px 4px black;
}

.btn {
    padding: 6px 12px;
    background-color: #ebedf2eb ;
    font-weight: 900;
    border: none;
    border-radius: 1px;
    font-family: inherit;
    color: #174361;
}



.underline {
    /* text-decoration-line: underline; */
    border-bottom: 4px solid;
}

#logo {
    height: 50px;
}
